body {
    background-color: black;
    color: aliceblue;
    font-size: 21px;
}

p {
    color: #ffa500;
}

h1 {
    color: purple;
    font-size: 70px;
}

a {
    font-size: 20px;
}

/* div {
    background: rgb(73, 2, 14);
    width: 500px;
} */
.top-section {
    background: rgb(73, 2, 14);
    width: 700px;
}

.bottom-section {
    background: #221704;
    width: 500px;
}

.intro {
    font-size: 30px;
}

/* This is css box model*/
/* margin
border
padding */
.box {
    background-image: url(../img/hamster2.jpg);
    
    padding: 150px;
    margin: 100px;
    background-size: 50%;
    background-position: center;
}