body {
    background-color: black;
    color: aliceblue;
    font-size: 21px;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;

}

p {
    color: #ffa500;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.bolder {
    text-decoration: line-through;
}

h1 {
    color: purple;
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

a {
    color: aquamarine;
}

/* This is a sudo class */
a {
    text-decoration: none;
}

/* should be in the following  order*/
a:link {
    color: yellowgreen;
}

a:visited {
    color: pink;
}

a:hover {
    color: yellow;
}

a:active {
    color: brown;
}